.App {
  border: 1px solid blue;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: greenyellow
}

.App_title {
  max-width: 500px;
  border: 1px solid yellow;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  font-size: 20px;
}